<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Expense Tracker{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

</head>
<body>
  <header>
    <div class="header-container">
      <!-- Logo and Brand Name -->
      {% set logo_path = url_for('static', filename='images/logo.png') %}
      <div class="brand">
        <img src="{{ logo_path }}" alt="Tracklio Logo" class="logo">
        <span class="brand-name">Tracklio</span>
      </div>
  
      <!-- Navigation Links -->
      <nav class="nav-links">
        <ul>
          <li><a href="/index">Home</a></li>
          <li><a href="/reports">Reports</a></li>
          <li><a href="/visualize">Visualize</a></li>
          <li><a href="javascript:void(0);" onclick="logoutUser()">Logout</a></li>
        </ul>
      </nav>
  
      <!-- Hamburger Menu for Mobile -->
      <button id="menu-toggle" class="hamburger">
        ☰
      </button>
    </div>
  
    <!-- Mobile Navigation Links -->
    <div id="mobile-menu" class="mobile-nav">
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/reports">Reports</a></li>
        <li><a href="/visualize">Visualize</a></li>
        <li><a href="javascript:void(0);" onclick="logoutUser()">Logout</a></li>
      </ul>
    </div>
  </header>

  

  <div class="container">
    {% block content %}
    <!-- Content will be overridden by child templates -->
    {% endblock %}
  </div>

  <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>

</html>